.main-chat
  .main-chat__header
    .main-chat__header__group
      .main-chat__header__group__name
        = @group.name
      .main-chat__header__group__member
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "main-chat__header__edit-btn" do
      Edit
  .main-chat__message-list
    = render @messages
  .main-chat__footer
    = form_for [@group, @message] do |f|
      .main-chat__footer__set
        = f.text_field :content, class: 'main-chat__footer__message', placeholder: 'type a message'
        .main-chat__footer__mask
          = f.label :image, class: 'main-chat__footer__mask--label' do 
            = icon('far','image', class: 'main-chat__footer__mask--label--icon')
            = f.file_field :image, class: 'main-chat__footer__mask--label--img'
      = f.submit 'Send', class: 'main-chat__footer__send-btn'
